.scoreboard-grid {
  --ag-header-height: 48px;
  --ag-row-height: 42px;
  --magic-height: calc(var(--cm-titlebar-h) + var(--ag-header-height));
}

.scoreboard-grid .ag-root-wrapper {
  @apply border-none;
}

.scoreboard-grid .ag-header {
  @apply mt-[var(--cm-titlebar-h)] z-10;
}

.scoreboard-grid .ag-body {
  @apply -mt-[var(--magic-height)];
}

.scoreboard-grid .ag-center-cols-clipper,
.scoreboard-grid .ag-center-cols-container,
.scoreboard-grid .ag-body-vertical-scroll-container {
  height: calc((var(--row-data-count) * var(--ag-row-height)) + var(--magic-height)) !important;
}

.scoreboard-grid .ag-center-cols-container {
  @apply pt-[var(--magic-height)];
}

.scoreboard-grid .ag-body-vertical-scroll {
  @apply mt-[var(--magic-height)] h-[calc(100%-var(--magic-height))];
}

.scoreboard-grid .ag-body-vertical-scroll,
.scoreboard-grid .ag-body-vertical-scroll-container,
.scoreboard-grid .ag-body-vertical-scroll-viewport {
  min-width: var(--fake-scrollbar-width) !important;
  width: var(--fake-scrollbar-width) !important;
  max-width: var(--fake-scrollbar-width) !important;
}

.scoreboard-grid .ag-body-horizontal-scroll {
  @apply hidden;
}
