.full-page-grid {
  --ag-header-height: 48px;
  --ag-row-height: 42px;
  --magic-height: calc(var(--cm-titlebar-h) + var(--ag-header-height));
  --ag-header-background-color: hsl(var(--secondary) / 0.5) !important;
  --ag-foreground-color: hsl(var(--secondary-foreground)) !important;
}
.full-page-grid .ag-root-wrapper {
  @apply border-none;
}

.full-page-grid .ag-header {
  @apply mt-[var(--cm-titlebar-h)] z-10 border-b-2 border-secondary;
}

.full-page-grid .ag-body {
  @apply -mt-[var(--magic-height)];
}

.full-page-grid .ag-center-cols-clipper,
.full-page-grid .ag-center-cols-container,
.full-page-grid .ag-body-vertical-scroll-container {
  height: calc((var(--row-data-count) * var(--ag-row-height)) + var(--magic-height)) !important;
}

.full-page-grid .ag-center-cols-container {
  @apply pt-[var(--magic-height)];
}

.full-page-grid .ag-body-vertical-scroll {
  @apply mt-[var(--magic-height)] h-[calc(100%-var(--magic-height))];
}

.full-page-grid .ag-body-vertical-scroll,
.full-page-grid .ag-body-vertical-scroll-container,
.full-page-grid .ag-body-vertical-scroll-viewport {
  min-width: var(--fake-scrollbar-width) !important;
  width: var(--fake-scrollbar-width) !important;
  max-width: var(--fake-scrollbar-width) !important;
}

.full-page-grid .ag-body-horizontal-scroll {
  @apply hidden;
}

.full-page-grid .hidden-ag-cell-feature {
  @apply opacity-10;
}

.full-page-grid .ag-row-hover .hidden-ag-cell-feature {
  @apply opacity-100;
}
